.login-background {
    background: url('{{asset("/images/paris-nature2.jpg")}}');
    background-size: cover;
}
#myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}
.content {
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
    width: 100%;
}
